# List

In [1]:
# syntax

var_name = [1,2,3,4,5]

In [3]:
var1 = list(range(1,20))

In [4]:
var1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
var2 = [10,20,30,405,55]

In [6]:
var2

[10, 20, 30, 405, 55]

In [7]:
name = ["Vishwajeet","Anubhav","Yash","Prabhat"]

In [8]:
name

['Vishwajeet', 'Anubhav', 'Yash', 'Prabhat']

In [9]:
mix = ["Data Science","ML", True, False, None, 3.141, 13,34]

In [10]:
mix

['Data Science', 'ML', True, False, None, 3.141, 13, 34]

In [11]:
name

['Vishwajeet', 'Anubhav', 'Yash', 'Prabhat']

In [12]:
name[0]

'Vishwajeet'

In [13]:
name[1]

'Anubhav'

In [14]:
name[3]

'Prabhat'

In [16]:
len(name)-1

3

In [17]:
name[len(name)-1]

'Prabhat'

In [18]:
name

['Vishwajeet', 'Anubhav', 'Yash', 'Prabhat']

In [19]:
name[-1]

'Prabhat'

In [20]:
name[-3]

'Anubhav'

In [21]:
name

['Vishwajeet', 'Anubhav', 'Yash', 'Prabhat']

In [22]:
name = ["Vishwajeet","Anubhav","Yash","Prabhat","Pankaj","Reetu","Jay"]

In [23]:
name[:]

['Vishwajeet', 'Anubhav', 'Yash', 'Prabhat', 'Pankaj', 'Reetu', 'Jay']

In [27]:
name[1:len(name)-1]

['Anubhav', 'Yash', 'Prabhat', 'Pankaj', 'Reetu']

In [29]:
name[3:-1]

['Prabhat', 'Pankaj', 'Reetu']

In [30]:
l1 = [['Anubhav', 'Yash', 'Prabhat', 'Pankaj', 'Reetu'],[10,20,30,40,50],[2.5,3.5,4.5,5.5]]

In [31]:
l1

[['Anubhav', 'Yash', 'Prabhat', 'Pankaj', 'Reetu'],
 [10, 20, 30, 40, 50],
 [2.5, 3.5, 4.5, 5.5]]

In [32]:
l1[0]

['Anubhav', 'Yash', 'Prabhat', 'Pankaj', 'Reetu']

In [33]:
l1[2]

[2.5, 3.5, 4.5, 5.5]

In [34]:
l1[0][0]

'Anubhav'

In [35]:
l1[0][-1]

'Reetu'

In [36]:
l1

[['Anubhav', 'Yash', 'Prabhat', 'Pankaj', 'Reetu'],
 [10, 20, 30, 40, 50],
 [2.5, 3.5, 4.5, 5.5]]

In [37]:
l1[-1][1:3]

[3.5, 4.5]

In [38]:
l1[-1][1:-1]

[3.5, 4.5]

In [39]:
l1 = [10,20,30,40,50,60]

In [40]:
l1

[10, 20, 30, 40, 50, 60]

In [41]:
len(l1)

6

In [42]:
min(l1)

10

In [43]:
max(l1)

60

In [44]:
sum(l1)

210

In [45]:
sum(l1)/len(l1)

35.0

# index(), Append(), Insert(), Remove(), Sort(), del, pop()

In [46]:
name

['Vishwajeet', 'Anubhav', 'Yash', 'Prabhat', 'Pankaj', 'Reetu', 'Jay']

In [47]:
name.index("Pankaj")

4

In [48]:
name.index('Jay')

6

In [49]:
name.append("Deepak")

In [50]:
name

['Vishwajeet',
 'Anubhav',
 'Yash',
 'Prabhat',
 'Pankaj',
 'Reetu',
 'Jay',
 'Deepak']

In [51]:
name.append('Shaym')

In [52]:
name

['Vishwajeet',
 'Anubhav',
 'Yash',
 'Prabhat',
 'Pankaj',
 'Reetu',
 'Jay',
 'Deepak',
 'Shaym']

In [53]:
name.insert(1, "Deepak")

In [54]:
name

['Vishwajeet',
 'Deepak',
 'Anubhav',
 'Yash',
 'Prabhat',
 'Pankaj',
 'Reetu',
 'Jay',
 'Deepak',
 'Shaym']

In [55]:
name[1] = "Yash"

In [56]:
name

['Vishwajeet',
 'Yash',
 'Anubhav',
 'Yash',
 'Prabhat',
 'Pankaj',
 'Reetu',
 'Jay',
 'Deepak',
 'Shaym']

In [63]:
name.sort(reverse=True)

In [61]:
name

['Yash',
 'Yash',
 'Vishwajeet',
 'Shaym',
 'Reetu',
 'Prabhat',
 'Pankaj',
 'Jay',
 'Deepak',
 'Anubhav']

In [65]:
name.remove('Jay')

In [66]:
name

['Yash',
 'Yash',
 'Vishwajeet',
 'Shaym',
 'Reetu',
 'Prabhat',
 'Pankaj',
 'Deepak',
 'Anubhav']

In [67]:
del name[-1]

In [68]:
name

['Yash', 'Yash', 'Vishwajeet', 'Shaym', 'Reetu', 'Prabhat', 'Pankaj', 'Deepak']

In [69]:
name.pop(-1)

'Deepak'

In [70]:
name

['Yash', 'Yash', 'Vishwajeet', 'Shaym', 'Reetu', 'Prabhat', 'Pankaj']

In [71]:
name.remove('Yash')

In [72]:
name

['Yash', 'Vishwajeet', 'Shaym', 'Reetu', 'Prabhat', 'Pankaj']

# Exercise

In [76]:
person = []

while True:
    print("S.No.:",len(person)+1)
    name = input()
    if name == "quit":
        break
    person.append(name)
    
for name in person:
    print(name)

S.No.: 1

 Vishwajeet

S.No.: 2

 Yash

S.No.: 3

 Deepak

S.No.: 4

 jay

S.No.: 5

 quit

Vishwajeet
Yash
Deepak
jay

# Exercise-2

In [77]:
tabels = []

while True:
    print("S.No.:",len(tabels)+1)
    num = int(input())
    if num == 0:
        break
    tabels.append(num)
    
print("Numbers inside the list:")
for n in tabels:
    for num1 in range(1,11):
        num2 = num1 * n
        
        print(f"{n} * {num1} = {num2}")
    print("="*30)

S.No.: 1

 12

S.No.: 2

 13

S.No.: 3

 16

S.No.: 4

 17

S.No.: 5

 0

Numbers inside the list:
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
==============================
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130
==============================
16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160
==============================
17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170
==============================

# List Comprehension

In [78]:
mystr = "Vishwajeet"

In [79]:
mylist = []

for letter in mystr:
    mylist.append(letter)
print(mylist)

['V', 'i', 's', 'h', 'w', 'a', 'j', 'e', 'e', 't']

In [80]:
mylist = [letter for letter in mystr]

In [81]:
mylist

['V', 'i', 's', 'h', 'w', 'a', 'j', 'e', 'e', 't']

In [82]:
lst = [x for x in range(1,11)]

In [83]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
lst = [x*x for x in range(1,11)]

In [85]:
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [86]:
lst = [x for x in range(0,11) if x%2==0]

In [87]:
lst

[0, 2, 4, 6, 8, 10]

In [88]:
c = [0,10,20.3,38.5,33.5]

f = []

for temp in c:
    f.append((9/5)*temp+32)
    
print(f)

[32.0, 50.0, 68.53999999999999, 101.3, 92.30000000000001]

In [89]:
f = [(9/5)*temp+32 for temp in c]

In [90]:
f

[32.0, 50.0, 68.53999999999999, 101.3, 92.30000000000001]

In [91]:
l1 =  [x if x%2==0 else "odd" for x in range(0,11)]

In [92]:
l1

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [93]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)

In [94]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [95]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [96]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

# Tuple

In [97]:
t1 = (10,20,30,40)

In [98]:
t1

(10, 20, 30, 40)

In [99]:
t1[0]

10

In [103]:
t1[1:-1]

(20, 30)

In [104]:
t1[0] = 30

TypeError: 'tuple' object does not support item assignment

In [105]:
t1.append(60)

AttributeError: 'tuple' object has no attribute 'append'

In [106]:
t1[3] + 12

52

In [107]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

# set

In [108]:
l1 = [1,1,1,1,2,2,2,2,4,4,4,3,3,3,6,6,6,8,8,7,7,7]

In [109]:
x = set(l1)

In [110]:
x

{1, 2, 3, 4, 6, 7, 8}

# Dictionaries

In [111]:
mydict = {"key1":"value1","key2":"value2","key3":"value3"}

In [112]:
mydict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [113]:
mydict["key1"]

'value1'

In [114]:
mydict["key2"]

'value2'

In [115]:
l1 = [10,20,30,40]
l2 = [30,40,20,10]

In [116]:
l1 == l2

False

In [117]:
d1 = {"key1":"value1","key2":"value2","key3":"value3"}

In [124]:
d2 = {"Key3":"value3","key2":"value2","key1":"value1"}

In [125]:
d1 == d2

False

In [132]:
mydict = {1:56165841, 2:[10,20,30,40,50],3:["ml","dl","ds","ai"]}

In [133]:
mydict

{1: 56165841, 2: [10, 20, 30, 40, 50], 3: ['ml', 'dl', 'ds', 'ai']}

In [135]:
mydict[2]

[10, 20, 30, 40, 50]

In [138]:
mydict[2][1:-1]

[20, 30, 40]

In [139]:
mydict.items()

dict_items([(1, 56165841), (2, [10, 20, 30, 40, 50]), (3, ['ml', 'dl', 'ds', 'ai'])])

In [140]:
mydict.keys()

dict_keys([1, 2, 3])

In [141]:
mydict.values()

dict_values([56165841, [10, 20, 30, 40, 50], ['ml', 'dl', 'ds', 'ai']])

# Exercise

In [142]:
birthday = {"Vishwajeet":"Aug1","Yash":"Aug2","Anubhav":"Aug3"}

while True:
    print("Enter the name:")
    name = input()
    if name == "QUIT":
        break
    if name in birthday:
        print(birthday[name], ' is the birthday of ', name)
        
    else:
        print("Person name is not availabel.")
        print("Do you wish to enter the birthday???")
        bday = input()
        
        birthday[name] = bday
        print("Information Updated!!!.")

Enter the name:

 Yash

Aug2  is the birthday of  Yash
Enter the name:

 Vishwajeet

Aug1  is the birthday of  Vishwajeet
Enter the name:

 Anubhav

Aug3  is the birthday of  Anubhav
Enter the name:

 Prabhat

Person name is not availabel.
Do you wish to enter the birthday???

 Aug4

Information Updated!!!.
Enter the name:

 Prabhat

Aug4  is the birthday of  Prabhat
Enter the name:

 quit

In [ ]:
message = 'It was a bright cold day in April, and the clocks were striking thirteen.'

{'I':6, 't':3}